[Desktop Entry]
Type=Application
Version=1.0
Name=TinyPM
GenericName=Package Manager
Comment=Manage Flatpak, Snap, native packages, and Seed with TinyPM
Exec=tinypm-app
Terminal=true
Categories=System;PackageManager;
Keywords=packages;flatpak;snap;apt;seed;tinypm;tiny;
Icon=system-software-install
StartupNotify=true
